<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>
</title>
</head>
<header>
    <nav>
        <ul>
            {% if user.is_authenticated %}
<body>
                    <li>
                        <a href="{% url "logout" %}">Logout</a>
                    </li>
                    <li>
                        <a href="{% url "login" %}"> Login</a>
                    </li>
                    <li>
                        <a href="{% url "show_my_tasks" %}">Tasks</a>
                    </li>
                    <li>
                        <a href="{% url "list_projects" %}">Projects</a>
                    </li>

                    <li>
                        <a href="{% url "signup" %}">Sign Up</a>
                    </li>
                    {% endif %}
                </uf>
            </nav>
        </header>
    </body>
