<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <main>
        <div>
        <h1>{{project.name}}</h1>
            <p> {{ project.description}}</p>
            <p><a href={% url 'create_task' %}> Create a new task </a></p>
            <h2>Tasks</h2>
            {% if project.tasks.all|length != 0 %}

        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Assignee</th>
                    <th>Start date</th>
                    <th>Due date</th>
                    <th>Is completed</th>
                </tr>
            </thead>
            <tbody>

              {% for task in project.tasks.all %}
            <tr>
            <td> {{task.name}} </td>
            <td> {{task.assignee}} </td>
            <td> {{task.start_date}} </td>
            <td> {{task.due_date}} </td>
            <td> {{task.is_completed|yesno:"yeah,no" }} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
            {% else %}
            {% comment %} {% if projects.all|length == 0 %} {% endcomment %}
            <p> This project has no tasks </p>
            {% endif %}

    </div>
    </main>



</body>
</html>
{% comment %} {% if projects.all|length == 0 %} {% endcomment %}
