<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> ZZZZZZ </title>
</head>
<body>
    <main>
        <div>
        <h1>My Projects</h1>
        <p><a href={% url 'create_project' %}> Create Project  </a></p>
        {% if not projects %}
                <p> You are not assigned to any projects </p>
            {% else %}
        <table>
            <thead>
                <tr>
                    <th> Name</th>
                    <th>Number of tasks</th>
                </tr>
            </thead>
            <tbody>
              {% for project in projects %}
            <tr>
            {% comment %} <td> <a href=""/projects/{{project.id}}/"">{{project.name}}</a></td> {% endcomment %}
            <td> <a"{% url "show_project" project.id %}">{{project.name}}</a></td>
            <td>{{ project.tasks.all|length }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>
    </main>
</body>
</html>
